* {
  padding: 0;
  margin: 0;
}

canvas {
  background: #eee;
  /*margin: 50px;*/
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.background {
  color: #eeeeee;
}
